@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./normalize.css');

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding-right: 82px;
    padding-left: 100px;
    overflow: hidden;
}

.container__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.container__logo-img {
    margin-right: 8px;
}
.container__logo-text {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: left;
}

.burger {
    display: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.3px;
    font-weight: 600;
}

.nav-list a {
    display: block;
    padding: 12px 20px;
}

.nav-list li {
    margin-left: 8px;
    letter-spacing: 0.05em;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

@media (hover: hover) {
    .nav-list li:hover {
        background-color: #FF46461A;
        border-radius: 12px;
        color:#FF4646;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        padding-right: 8px;
        padding-left: 28px;
        overflow: hidden;
    }

    .nav-list {
        display: none;
    }

    .burger {
        display: block;
    }
}

/* MAIN SECTION */
/* HERO */
main {
    background-color: #FF4646;
    border-radius: 20px;
}

.hero {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    height: 524px;
    background-color: #FF4646;
    background-image: url(./assets/images/bg-ball.png),
                      url(./assets/images/bg-snow.png);
    border-radius: 20px 20px 0 0;            
    background-size: cover, cover;
    background-position: center, center;
}

.hero__block {
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 433px;
    height: 404px;
}

.text-font-allura {
    padding-top: 10px;
    margin-bottom: 0px;
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #ffffff;
}

.hero-heading {
    margin: 12px 0;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.18em;
    text-align: center;
    color: #ffffff;
}

.hero-heading-third-line {
    padding-left: 8px;
}

.hero-button {
    margin-bottom: -22px;
}
 
.button {
    padding-top: 20px;
    width: 235px;
    height: 56px;
    border-radius: 20px;
    border: none;
    background-color: #181C29;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: center;
    cursor: pointer;
    transition: background-color 1.2s ease, color 1.2s ease-out;
}

@media (hover: hover) {
    .button:hover {
        background-color: #FFFFFF;
        color: #181C29;
    }
}

@media only screen and (max-width: 380px) {
    .hero {
        background-image: url(./assets/images/bg-ball.png), url(./assets/images/bg-snow.png);
        border-radius: 20px 20px 0 0;
        background-size: 359%, cover;
        background-position: 50% 2%, center;
    }
}

/* MAIN SECTION */
/* ABOUT */
.about {
    padding-top: 60px;
    margin-bottom: 118px;
    background-color: #FF4646;
    background-image: url(./assets/images/bg-snow.png);
    background-size: cover;
    background-position: -58px 0px;
}

.about__flex {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0px 83px 0px 83px;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
}

.about__text {
    width: 50%;
    margin-top: -7px;
    padding-left: 58px;
    padding-right: 160px;
}

.about__img  {
    width: 50%;
    object-fit: cover;
    border-radius: 20px;
}

.about__text>p:first-child {
    margin-top: 107px;
    padding-top: 60px;
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #FF4646;
    margin-bottom: 1px
}
.about__text>h2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}
.about__text>p:last-child {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
}

@media only screen and (max-width: 1350px) {
    .about__flex {
        margin-left: 8px;
        margin-right: 8px;
        flex-wrap: wrap;
    }

    .about__text {
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 89px;
    }

    .about__text>p:first-child {
        margin-top: 54px;
    }
}

@media only screen and (max-width: 580px) {    
    .about__text {
        width: 100%;
        padding-left: 50px;
    }
    
    .about__img  {
        width: 100%;
        height: 528px;
        object-fit: cover;
        border-radius: 20px;
    }
} 

@media only screen and (max-width: 380px) {
    .about {
        margin-top: 47px;
    }

    .about__text {
        padding-left: 20px;
        padding-right: 22px;
        margin-bottom: -46px;
    }

    .about__text>p:first-child {
        margin-top: 10px;
    }
}


/* MAIN SECTION */
/* SLIDER */
.slider {
    height: 488px;
    background-image: url(./assets/images/bg-snow.png);
    background-size: cover;
    background-position: 0px -112px;
    background-repeat: no-repeat;
}

.slider__slide {
    display: flex;
    align-items: center;
    padding-left: 62px;
    overflow: hidden;
}

.slider__text-paragraph {
    padding-bottom: 0;
    margin-top: 59px;
    margin-bottom: -10px;
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #ffffff;
    text-align: center;
}

.slider__heading {
    margin-bottom: -10px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    color: white;
    text-align: center;
}

.slider__slide p {
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 600;
    line-height: 97.52px;
    color: #ffffff;
    padding-right: 20px;
    padding-left: 20px;
}

.slider__slide img {
    width: 200px;
    border-radius: 20px;
}

.slider__arrows {
    display: flex;
    justify-content: flex-end;
    margin-top: -8px;
    margin-right: 82px;
    gap: 20px;
}

.slider__arrows img {
    cursor: pointer;
    padding: 20px;
    border-radius: 20px;
    transition: background-color 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.arrow-left {
    border: 1px solid rgb(255, 255, 255, 0.4);
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(200%) contrast(100%);
}

.arrow-right {
    border: 1px solid rgb(255, 255, 255);
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(1000%) contrast(100%);
}

@media (hover: hover) {
    .arrow-left:hover {
        background-color: white;
        filter: invert(0%) sepia(0%) saturate(1000%) hue-rotate(0deg) brightness(1000%) contrast(100%);
    }

    .arrow-right:hover {
        background-color: white;
        filter: invert(0%) sepia(0%) saturate(1000%) hue-rotate(0deg) brightness(1000%) contrast(100%);
    }
}

@media only screen and (max-width: 768px) {
    .slider__arrows {
        margin-right: 8px;
    }

    .slider__slide {
        margin-left: -12px;
        padding-left: 0;
    }
} 

@media only screen and (max-width: 380px) {
    .slider__arrows {
        margin-right: 8px;
    }

    .slider__slide {
        margin-left: -12px;
        padding-left: 0;
    }
} 

/* MAIN SECTION */
/* BESTGIFTS */
.bestgifts {
    /* height: 554px; */
    background-image: url(./assets/images/bg-snow.png);
    background-size: cover;
    background-position: center;
}

.bestgifts__text {
    margin-top: -65px;
}

.bestgifts__text-paragraph {
    padding-bottom: 0px;
    margin-top: 67px;
    margin-bottom: -12px;
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #ffffff;
    text-align: center;
}

.bestgifts__heading {
    margin-bottom: 18px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    color: white;
    text-align: center;
}

.bestgifts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    padding-left: 82px;
    padding-right: 82px;
}

.bestgifts__list-gift {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 310px;
    height: 342px;
    background-color: #ECF3F8;
    border-radius: 20px;
    cursor: pointer;
    transition: color 0.5s ease;
}
.bestgifts__list-gift p {
    transition: color 0.3s ease-in-out;
}

@media (hover: hover) {
    .bestgifts__list-gift:hover p {
        color: #FF4646;
    }
}

.gift-description {
    padding-top: 9px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 20px;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
}

.gift-heading {
    padding-top: 20px;
    margin-top: -8px;
    margin-bottom: -3px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.gift-paragraph {
    padding-bottom: 28px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.08em;
}

.gift4 .gift-description .gift-heading {
    padding-top: 18px;
}
.gift4 .gift-description .gift-paragraph {
    margin-top: 0px;
    padding-top: 13px;
    line-height: 24.32px;
    margin-bottom: -8px;
}

.gift1 {
    background-image: url(./assets/images/gift-for-work.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.gift2 {
    background-image: url(./assets/images/gift-for-health.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.gift3 {
    background-image: url(./assets/images/gift-for-work.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.gift4 {
    background-image: url(./assets/images/gift-for-harmony.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.gift1 h4, .gift3 h4 {
    color: #4361FF;
}

.gift2 h4 {
    color: #06A44F;
}

.gift4 h4 {
    color: #FF43F7;
}

@media only screen and (max-width: 1330px) {
    .bestgifts__list {
        padding-left: 27px;
        padding-right: 27px;
    }
}

@media only screen and (max-width: 800px) {
    .bestgifts__list {
        justify-items: center;
        padding-left: 27px;
        padding-right: 27px;
    }
} 

@media only screen and (max-width: 500px) {
    .bestgifts__list {
        justify-items: center;
        padding-left: 27px;
        padding-right: 27px;

    }
} 

/* MAIN SECTION */
/* CTA */
.CTA {
    margin-top: 124px;
    display: flex;
    justify-content: center;
    height: 602px;
    background-image: url(./assets/images/bg-forest.png), url(./assets/images/bg-snow.png);
    background-size: cover, cover;
    background-position: right 0px bottom 0px, 48px -39px;
    background-repeat: no-repeat, no-repeat;
}

.CTA__container {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390px;
}

.CTA__container-heading {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.CTA__container-paragraph {
    margin-top: 18px;
    margin-bottom: 9px;
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    color: white;
}

.CTA__countdown {
    position: relative;
    display: flex;
    padding-left: 35px;
    padding-right: 18px;
    padding-top: -px;
    width: 344px;
    height: 72px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
}

.CTA__countdown p {
    margin-top: 14px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.16em;
    color: white;
    text-align: center;
}

.CTA__countdown p:nth-child(2) {
    padding-left: 20px;
}

.CTA__countdown p:nth-child(3) {
    padding-left: 6px;
}

.CTA__countdown-days:after {
    padding-top: 3px;
    content: 'DAYS';
    display: block;
    font-size: 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
}

.CTA__countdown-hours:after {
    padding-top: 3px;
    content: 'HOURS';
    display: block;
    font-size: 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
}

.CTA__countdown-minutes:after {
    padding-top: 3px;
    content: 'MINUTES';
    display: block;
    font-size: 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
}

.CTA__countdown-seconds:after {
    padding-top: 3px;
    content: 'SECONDS';
    display: block;
    font-size: 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
}

.CTA__countdown-line {
    height: 20px;
}

.line1 {
    position: absolute;
    top: 25px;
    left: 92px;
}

.line2 {
    position: absolute;
    top: 25px;
    left: 172px;
}

.line3 {
    position: absolute;
    top: 25px;
    left: 252px;
}

@media only screen and (max-width: 768px) {
    .CTA {
        background-image: url(./assets/images/bg-forest.png), url(./assets/images/bg-snow.png);
        background-size: 185%, cover;
        background-position: left -330px bottom 0px, 48px -39px;
        background-repeat: no-repeat, no-repeat;
    }

    .CTA__container-heading {
        margin-top: 28px;
    }

    .CTA__container {
        margin-bottom: 2px;
    }
} 

@media only screen and (max-width: 380px) {
    .CTA {
        background-image: url(./assets/images/bg-forest.png), url(./assets/images/bg-snow.png);
        background-size: 398%, cover;
        background-position: left -566px bottom -38px, 48px -39px;
        background-repeat: no-repeat, no-repeat;
    }

    .CTA__countdown {
        margin-bottom: 20px;
    }
} 

/* FOOTER */
footer {
    margin-top: 62px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 82px;
    padding-right: 82px;
    gap: 12px;
}

.footer__link-calling {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.footer__link-mapping {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.footer__link-emailing {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.f-block {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 417px;
    height: 204px;
    background-color: #ECF3F8;
    border-radius: 20px;
}

@media (hover: hover) {
    .footer__block1:hover,
    .footer__block2:hover,
    .footer__block3:hover {
        color: #FF4646
    }
}

.footer__block1 {
    background-image: url(./assets/svg/santa-claus.svg);
    background-repeat: no-repeat;
    background-position: 50% 15%;
    cursor: pointer;
    transition: color 0.5s ease;
    position: relative;
    z-index: 2;
}

.footer__block2 {
    background-image: url(./assets/svg/christmas-tree.svg);
    background-repeat: no-repeat;
    background-position: 50% 15%;
    cursor: pointer;
    transition: color 0.5s ease;
    position: relative;
    z-index: 2;
}

.footer__block3 {
    background-image: url(./assets/svg/snake.svg);
    background-repeat: no-repeat;
    background-position: 50% 15%;
    cursor: pointer;
    transition: color 0.5s ease;
    position: relative;
    z-index: 2;
}

.f-block h4 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.16em;
    text-align: center;
    margin-bottom: 3px;
}

.f-block p {
    font-size: 16px;
    font-weight: 600;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-align: center;
    margin-bottom: 15px;
}

.footer__block4 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 31px;
}    

.footer__icons {
    display: flex;
    gap: 12px;
    margin-top: -8px;
}

.footer__icons img {
    transition: all 0.5s ease;
}

@media (hover: hover) {
    .footer__icons img:hover {
        filter: invert(10%) sepia(70%) saturate(4295%) hue-rotate(0deg) brightness(108%) contrast(101%);
    }
}

p.footer-copyright {
    margin-top: 12px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
    letter-spacing: 0;
}

p.footer-rss {
    margin-top: -5px;
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #181C29;
    transition: color 0.5s ease;
}

@media (hover: hover) {
    p.footer-rss:hover {
        color: #FF4646;
    }
}

@media screen and (max-width: 1060px) {
    .footer {
        padding-left: 8px;
        padding-right: 8px;
    }
    .f-block {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .footer__block1>p {
        margin-top: 13px;
        margin-bottom: 18px;
    }
    .footer__block2>p {
        margin-top: 13px;
        margin-bottom: 18px;
    }
    .footer__block3>p {
        margin-top: 13px;
        margin-bottom: 18px;
    }

    .footer__block4 {
        padding-top: 18px;
    }
}

@media only screen and (max-width: 380px) {
    footer {
        margin-top: 97px;
    }
    .footer__block4 {
        padding-top: 24px;
    }
}